ion-card-title, h1, ion-button, ion-text {
    font-family: monospace;
}

h1 {
    margin-top: 40px;
}

ion-card {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.overall-results-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.overall-results-button {
    margin: auto;
}